.App {
    background-color: rgb(122, 219, 238);
  }

.container{
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.item{
  margin: 20px;
}
  
  .App-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }